<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.aigou.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.aigou.domain.Product">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="subName" property="subName" />
        <result column="code" property="code" />
        <result column="product_type_id" property="productTypeId" />
        <result column="onSaleTime" property="onSaleTime" />
        <result column="offSaleTime" property="offSaleTime" />
        <result column="brand_id" property="brandId" />
        <result column="state" property="state" />
        <result column="maxPrice" property="maxPrice" />
        <result column="minPrice" property="minPrice" />
        <result column="saleCount" property="saleCount" />
        <result column="viewCount" property="viewCount" />
        <result column="commentCount" property="commentCount" />
        <result column="commentScore" property="commentScore" />
        <result column="viewProperties" property="viewProperties" />
        <result column="goodCommentCount" property="goodCommentCount" />
        <result column="commonCommentCount" property="commonCommentCount" />
        <result column="medias" property="medias" />
        <result column="badCommentCount" property="badCommentCount" />
        <result column="sku_template" property="skuTemplate" />
    </resultMap>


    <!--List<Product> loadPageData(Page<Product> page, ProductQuery query);-->
    <select id="loadPageData" parameterType="ProductQuery" resultMap="productMap">
        SELECT
            p.*, pt.id ptid,
            pt.`name` ptname,
            b.id bid,
            b. NAME bname,
            pe.id peid,
            pe.description,
            pe.richContent
        FROM
            t_product p
        LEFT JOIN t_product_type pt ON p.product_type_id = pt.id
        LEFT JOIN t_brand b ON p.brand_id = b.id
        LEFT JOIN t_product_ext pe on p.id = pe.productId
        order by id ASC
    </select>
    <resultMap id="productMap" type="Product">
        <!--基本信息管理-->
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="subName" property="subName" />
        <result column="code" property="code" />
        <result column="product_type_id" property="productTypeId" />
        <result column="onSaleTime" property="onSaleTime" />
        <result column="offSaleTime" property="offSaleTime" />
        <result column="brand_id" property="brandId" />
        <result column="state" property="state" />
        <result column="maxPrice" property="maxPrice" />
        <result column="minPrice" property="minPrice" />
        <result column="saleCount" property="saleCount" />
        <result column="viewCount" property="viewCount" />
        <result column="commentCount" property="commentCount" />
        <result column="commentScore" property="commentScore" />
        <result column="viewProperties" property="viewProperties" />
        <result column="goodCommentCount" property="goodCommentCount" />
        <result column="commonCommentCount" property="commonCommentCount" />
        <result column="medias" property="medias" />
        <result column="badCommentCount" property="badCommentCount" />
        <result column="sku_template" property="skuTemplate" />
        <!--品牌和类型-->
        <association property="brand" javaType="Brand">
            <id column="bid" property="id" />
            <result column="bname" property="name" />
        </association>
        <association property="productType" javaType="ProductType">
            <id column="ptid" property="id" />
            <result column="ptname" property="name" />
        </association>
        <association property="productExt" javaType="ProductExt">
            <id column="peid" property="id" />
            <result column="description" property="description" />
            <result column="richContent" property="richContent" />
        </association>
    </resultMap>


    <!--void onSale(Map<String, Object> params);
       in (1,2,3)
    -->
    <update id="onSale" parameterType="map">
        UPDATE t_product set state = 1, onSaleTime = #{timeStamp} where id in
        <foreach collection="ids"  item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <!--void offSale(Map<String, Object> params);-->
    <update id="offSale" parameterType="map">
        UPDATE t_product set state = 0, offSaleTime = #{timeStamp} where id in
        <foreach collection="ids"  item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>
